<header class="HeaderWrapper">
  <div class="LogoArea">MOBY</div>
  <div class="RightSideWrapper">
    <div class="PageNameArea"><%= link_to "Dashboard", dashboard_path %></div>
    <div class="ToolbarArea">
      <div class="Settings">
        <label class="FancyInputTrigger"><i class="material-icons">settings</i></label>
      </div>
      <div class="Notifications">
        <i class="material-icons">notifications_none</i>
      </div>
      <div class="ProfileActions">
        <label for="ProfileActionsCheckbox" class="FancyInputTrigger"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/48.jpg" alt="Adham Dannaway"></label>
        <input id="ProfileActionsCheckbox" type="checkbox" class="FancyTriger">
        <ul class="ContextMenu">
          <li><a href="#"><i class="material-icons">power_settings_new</i> Abmelden</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="LowerWrapper">
  <aside class="AsideWrapper">

  </aside>
  <main class="MainWrapper">
<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Ph number</th>
      <th>Email</th>
      <th>Shop owner</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @customers.empty? %>
    <p>There are no customers.</p>
    <% else %>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.language %></td>
      <td><%= customer.ph_number %></td>
      <td><%= customer.email %></td>
      <td><%= customer.shop_owner.name %></td>

      <td><%= link_to 'Show', shop_owner_customer_path(current_shop_owner,customer) %></td>
      <td><%= link_to 'Edit', edit_shop_owner_customer_path(current_shop_owner,customer) %></td>
      <td><%= link_to 'Destroy', shop_owner_customer_path(current_shop_owner,customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_shop_owner_customer_path(current_shop_owner) %>
</main>

<div class="ChatCloseOverlay"></div>
<aside class="ChatWrapper">
  <!-- <ul>
    <li data-chat-username="Allison Grayce" data-chat-uid="allisongrayce">
      <div class="ChatUserImageArea"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/48.jpg" alt="Allison Grayce"></div>
    </li>
    <li data-chat-username="DELIRIUM" data-chat-uid="delirium">
      <div class="ChatUserImageArea"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mist3r_c0r3/48.jpg" alt="DELIRIUM"></div>
    </li>
    <li data-chat-username="Jad Limcaco" data-chat-uid="jadlimcaco">
      <div class="ChatUserImageArea"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/48.jpg" alt="Jad Limcaco"></div>
    </li>
    <li data-chat-username="Aziel S" data-chat-uid="azielsilas">
      <div class="ChatUserImageArea"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/azielsilas/48.jpg" alt="Aziel S"></div>
    </li>
    <li data-chat-username="Akif Yaldır" data-chat-uid="akifyaldir">
      <div class="ChatUserImageArea"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/akifyaldir/48.jpg" alt="Akif Yaldır"></div>
    </li>
  </ul> -->
  <div class="ChatUserChatWrapper">
    <div class="ChatUserMetaArea">
      <a href="#jadlimcaco" >Jad Limcaco</a><i class="material-icons">launch</i>
    </div>
    <div class="ChatUserChatArea">
    </div>
    <div class="ChatUserInputArea">
    </div>
  </div>
</aside>
</div>


</body>
</html>
