<header class="HeaderWrapper">
	<div class="LogoArea">MOBY</div>
	<div class="RightSideWrapper">
		<div class="PageNameArea">Dashboard</div>
		<div class="ToolbarArea">
			<div class="Settings">
				<label class="FancyInputTrigger"><i class="material-icons">settings</i></label>
			</div>
			<div class="Notifications">
				<i class="material-icons">notifications_none</i>
			</div>
			<div class="ProfileActions">
				<label for="ProfileActionsCheckbox" class="FancyInputTrigger"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/48.jpg" alt="Adham Dannaway"></label>
				<input id="ProfileActionsCheckbox" type="checkbox" class="FancyTriger">
				<ul class="ContextMenu">
					<li><a href="#"><i class="material-icons">power_settings_new</i> Abmelden</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<div class="LowerWrapper">
	<!-- <aside class="AsideWrapper">

	</aside> -->
	<main class="MainWrapper">

    <p id="notice"><%= notice %></p>
    <div class="CustomerShow">
    <p>
      <strong>Name:</strong>
      <%= @customer.name %>
    </p>

    <p>
      <strong>Language:</strong>
      <%= @customer.language %>
    </p>

    <p>
      <strong>Ph number:</strong>
      <%= @customer.ph_number %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Shop owner:</strong>
      <%= @customer.shop_owner.name %>
    </p>

    <% if @customer.sent_customer_promotions.count > 0 %>
      <h3>Messages Sent</h3>
      <ul>
        <% @customer.sent_customer_promotions.each do |cp| %>
          <li>Body: <%= @customer.language == "Spanish" ? cp.promotion.translated_text : cp.promotion.body %>,
              Sent: <%= time_ago_in_words cp.sent_time %></li>
        <% end %>
      </ul>
    <% end %>

    <%= link_to 'Edit', edit_shop_owner_customer_path(current_shop_owner, @customer) %> |
    <%= link_to 'Back', shop_owner_customers_path(current_shop_owner) %>
  </main>
</div>
