<%= form_for(shop_owner) do |f| %>
  <% if shop_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop_owner.errors.count, "error") %> prohibited this shop_owner from being saved:</h2>

      <ul>
      <% shop_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :shop_name %>
    <%= f.text_field :shop_name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
