<!-- <%= render 'form', shop_owner: @shop_owner %>
<%= link_to 'Back', shop_owners_path %> -->
<h1> Registration New Shop Owner</h1>

<%= form_for @shop_owner do |f| %>

<p>
  <%=f.label :name %>
  <%=f.text_field :name %>
</p>

<p>
  <%=f.label :shop_name %>
  <%=f.text_field :shop_name %>
</p>

<p>
  <%=f.label :address %>
  <%=f.text_field :address %>
</p>

<p>
  <%=f.label :email %>
  <%=f.text_field :email %>
</p>


<p>
  <%=f.label :password %>
  <%=f.password_field :password %>
</p>

<p>
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation %>
</p>
<p>

  <%=f.submit %>
</p>

<% end %>
