<p id="notice"><%= notice %></p>

<h1>Promotions</h1>

<table>
  <thead>
    <tr>
      <th>Shop owner</th>
      <th>English promo</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.shop_owner.name %></td>
        <td><%= promotion.english_promo %></td>
        <td><%= promotion.body %></td>
        <td><%= link_to 'Show', shop_owner_promotion_path(current_shop_owner,promotion) %></td>
        <td><%= link_to 'Edit', edit_shop_owner_promotion_path(current_shop_owner,promotion) %></td>
        <td><%= link_to 'Send', shop_owner_promotion_send_all_path(current_shop_owner,promotion), method: :post %></td>
        <td><%= link_to 'Destroy', shop_owner_promotion_path(current_shop_owner,promotion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New promotion', new_shop_owner_promotion_path(current_shop_owner) %>
