<p id="notice"><%= notice %></p>

<p>
  <strong>Shop owner:</strong>
  <%= @promotion.shop_owner.name.capitalize %>
</p>

<p>
  <strong>English promo:</strong>
  <%= @promotion.english_promo %>
</p>

<p>
  <strong>English Body:</strong>
  <%= @promotion.body %>
</p>

<p>
  <strong>Spanish Body:</strong>
  <%= @promotion.translated_text %>
</p>

<p>
  <strong>SendTime:</strong>
  <% if @promotion.sent? %>
    Sent <%= time_ago_in_words @promotion.sent_time %> ago.
  <% else %>
    <% if @promotion.overdue? %>
      Will be sent shortly!
    <% else %>
      <% if @promotion.send_time %>
        Will be sent in <%= time_ago_in_words @promotion.send_time %>.
      <% else %>
        Will be sent when you click "send".
      <% end %>
    <% end %>
  <% end %>
</p>

<h3>Customers</h3>
<ul>
  <% @promotion.customers.each do |customer| %>
    <li><%= link_to customer.name, [current_shop_owner, customer] %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_shop_owner_promotion_path(current_shop_owner,@promotion) %> |
<%= link_to 'Back', shop_owner_promotions_path(current_shop_owner) %> |
<%= link_to 'Send to Customer', promotion_send_to_customers_path(@promotion), method: :post %> |
<%= link_to 'Send to All', promotion_send_all_path(@promotion), method: :post %>
<!-- Create a Send Button for Promotion Texts  -->
<!-- Create a Drop Down Menu -->
