<p id="notice"><%= notice %></p>

<p>
  <strong>Shop owner:</strong>
  <%= @promotion.shop_owner.name.capitalize %>
</p>

<p>
  <strong>English promo:</strong>
  <%= @promotion.english_promo %>
</p>

<p>
  <strong>Body:</strong>
  <%= @promotion.body %>
</p>

<p>
  <strong>Translated Text:</stong>
    <%= @promotion.translated_text %>
<%= @result %>
  </p>

<%= link_to 'Edit', edit_shop_owner_promotion_path(current_shop_owner,@promotion) %> |
<%= link_to 'Back', shop_owner_promotions_path(current_shop_owner) %>
<!-- Create a Send Button for Promotion Texts  -->
<!-- Create a Drop Down Menu -->
